@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: #1A92D3;
    --grey: #E2E8EF;
    --bborder: 1px solid black;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: rgba(0, 0, 0, .70) url("../img/sinigang.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;

}


.container {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: space-between;
    grid-template-columns: 100%;
}

#content {
    text-align: center;
    
}

.header {
    margin: 25px;
    height: 50px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1{
    margin-bottom: 50px;
}


.menu-button {
    margin-top: 25px;
    font-size: 1rem;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
}

.menu-button:hover {
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}


/* to make the underline on the menu invisible before hovering */
li {
    border-bottom: 2px solid rgba(255, 255, 255, 0); 
}

li:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}


.menu-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 65%;

}

.dish {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, .80);
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.7);
}

.image-dish {
    flex-basis:50%;
}

.text-dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding: 10px;
}

.text-dish h2{
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    
}

.contact-text {
    width: 600px;
}


.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

